.navigation-bar{
    width: 100%;
    margin: 0;
    background-color: rgba(255, 247, 175, 92%);
    position: fixed;
    top: 0;
}
.navigation-bar .navigation-list{
    margin: 14px 0;
    padding: 0;
}
.navigation-bar .navigation-unit{
    display: inline;
    padding: 0 14px;
}
.navigation-bar .navigation-link{
    color: rgb(83, 83, 83);
}
.navigation-bar .active{
    color: black;
    font-weight: 800;
}
.inactive:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.logo{
    width: 35px;
    position: absolute;
    top: 5px;
}
.navigation-unit:nth-child(2){
    margin-left: 28px;
}